h2 {font-size:20pt;color:blue;font-family:arial}
h1 {font-size:40pt;color:black;font-family:verdana}
h3 {font-size:20pt;color:green;font-family:times}
h4 {font-size:20;color:red;font-family:arial}

